@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<a class="btn m-5 btn-danger delete"
   data-bs-toggle="modal" data-bs-target="#deleteModal"
   data-id=0@* "@item.Id"*@
   data-controller="DeleteModal"
   data-action="Delete"
   data-label="Delete"
   data-body-message="Are you sure to delete this record?"
   data-action-url="@(@Url.Action("Delete", "DeleteModal", new {id = 0 @*item.Id*@}))">
    Delete <i class="fas fa-trash alt"></i>

</a>
