@{
}
@*<div className="h-100 d-flex justify-content-center align-items-center flex-column bg-white">
      <img src="/images/error401.jpg"/>

      <Link className="text-danger font-weight-heavy" to="/login-page">
        Back to home
      </Link>
</div>*@
    <body>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">401</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> You are unauthorized.</p>
                <a href="##" onClick="history.go(-1); return false;" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </body>