@model MVC.Boilerplate.Models.FileUpload.FileUploadModel
  @* <h3>index fileupload</h3>*@

  <div mt-3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"><a>Upload File</a></li>
        </ol>
    </nav>
</div>

  <div class="w-25 p-3 text-center">
      <h2>File Upload</h2>
  </div>
  <div class="col-5 card border border-dark rounded m-20 mx-auto"> 
      <div class="card-header">File Upload</div>
      <div class="card-body">
 <form enctype="multipart/form-data" method="post">
    <vc:file-upload field-name="@nameof(Model.File)"></vc:file-upload>
     <div class="p-1 mb-2"><span data-toggle="tooltip" data-placement="right" title="Please select the file of size 32Kb and of type .jpg,.jpeg,.png,.csv,.xls,.xlsx,.pdf"><i class="fa fa-info-circle"></i></span></div>

    <button type="submit" id="btnUpload" disabled>Upload</button>
   @* <div class="text-info font-weight-bold mt-2">Note: Please select the file of size 32Kb and of type .jpg,.jpeg,.png,.csv,.xls,.xlsx,.pdf </div>*@
    </form>
    </div>
    </div>

 
  <script src="~/js/FileUpload.js" type="text/javascript" on-content-loaded="true"></script>