@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MVC.Boilerplate.Models.FileUpload.FileUploadModel
  @* <h3>index fileupload</h3>*@
  <div class="col-5 card border border-dark rounded m-20 mx-auto"> 
      <div class="card-header">File Upload</div>
      <div class="card-body">
 <form enctype="multipart/form-data" method="post">
    <vc:file-upload field-name="@nameof(Model.File)"></vc:file-upload>
    <button type="submit">Submit</button>
    </form>
    </div>
    </div>

 