@{
    ViewData["Title"] = "Home Page";
}
@model MVC.Boilerplate.Models.FileUpload.FileUploadModel
<div class="text-center">
    <h1 class="display-4">Neosoft Technologies</h1>
    <p>MVC Boilerplate.</p>

    @*@(await Component.InvokeAsync("FileUpload", @Model.File))*@
   @* <form enctype="multipart/form-data" method="post">
    <vc:file-upload field-name="@nameof(Model.File)"></vc:file-upload>
    <button type="submit">Submit</button>
    </form>*@
</div>
